body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
.viewport-header {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px; 
}

.carousel-wrapper {
    display: flex;
    width: calc(100% * 33 / 5); /* 33 afbeeldingen totaal, maar we tonen 5 tegelijk */
    animation: slide 30s infinite linear;
}

.carousel-slide {
    display: flex;
    flex: 0 1 calc(100% / 33); /* Elke afbeelding neemt 1/33 van de wrapper */
}

.carousel-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.carousel-slide a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.carousel-slide img:hover {
    transform: scale(1.2);
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-calc(100% * 28 / 33)); } /* Verplaats de carousel met de breedte van 28 afbeeldingen */
}

.carousel-slide a:hover img {
    animation-play-state: paused;
}