body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px; /* Pas de hoogte aan indien nodig */
}

.carousel-wrapper {
    display: flex;
    width: 500%; /* 100% per afbeelding, 5 afbeeldingen */
    animation: slide 15s infinite linear;
}

.carousel-slide {
    display: flex;
    width: 20%; /* Elke afbeelding neemt 20% van de container breedte in */
}

.carousel-slide img {
    width: 100%;
    height: auto;
    transition: transform 10s ease-in-out;
    cursor: pointer;
}

.carousel-slide a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.carousel-slide img:hover {
    transform: scale(1.2);
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.carousel-slide a:hover img {
    animation-play-state: paused;
}
