body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

<<<<<<< HEAD
body {
    font-family: 'Arial', sans-serif;
    background: url('215697_small.mp4'), url(image.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00FFDD;
}

.container {
    text-align: center;
}

.squad-selection, .passcode-section {
    background-color: rgba(145, 82, 202, 0.7);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.squad-title-container {
    background-color: rgba(0, 0, 255, 0.6);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #00ffdd;
}

.circles {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
}

.passcode-section input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
=======
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px; /* Pas de hoogte aan indien nodig */
}

.carousel-wrapper {
    display: flex;
    width: 500%; /* 100% per afbeelding, 5 afbeeldingen */
    animation: slide 15s infinite linear;
}

.carousel-slide {
    display: flex;
    width: 20%; /* Elke afbeelding neemt 20% van de container breedte in */
>>>>>>> a40d1155fc196c5c2f0806999258853c416383b9
}

.carousel-slide img {
    width: 100%;
    height: auto;
    transition: transform 3s ease-in-out;
    cursor: pointer;
}

.carousel-slide a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.carousel-slide img:hover {
    transform: scale(1.2);
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.carousel-slide a:hover img {
    animation-play-state: paused;
}
