@keyframes prepageLoad {
  from {
    background-color: black;
  }

  to {
    background: rgba(189, 188, 188, 0.795);
  }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  