#svg-bg{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    /* display: block; */
}

#monitor1{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background-color: rgb(0, 0, 0);
    width: 266.2px;
    height: 171px;
    top: 259px;
    left: 228.4px;
}

#tf1, #tf2, #tf3, #tf4, #tf5, #tf6{
    width: 50px;
}

.container3f{
    background-color: re;
    width: 230px;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;


    flex-wrap: wrap;
    column-gap: 5px;
}

.container4f{
    background-color: transparent;
    width: 180px;
    height: 160px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;


    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
}

.container5f{
    background-color: transparent;
    width: 210px;
    height: 160px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;


    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 5px;
}

.container6f{
    background-color: transparent;
    width: 210px;
    height: 160px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;


    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

#left, #right{
    position: absolute;
    font-size: 30px;
    color:rgb(122, 167, 91);
    transition: 0.2s;
}

#left{
    left: 4%;
}

#right{
    right: 4%;
}

#left:hover, #right:hover{
    text-shadow: 
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19);
}






#monitor2{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 266.2px;
    height: 171px;
    top: 88px;
    left: 546px;
}

#monitor1, #monitor2{
    transition:1s
  }
#monitor1:hover, #monitor2:hover{
    box-shadow: 0 0 50px rgb(59, 122, 0);
  }