#svg-bg{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    /* display: block; */
}

#monitor1{
    display: flex;
    justify-content: space-around;
    align-items: center;


    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
    

    position: relative;
    background-color: rgb(0, 0, 0);
    width: 266.2px;
    height: 171px;
    top: 259px;
    left: 228.4px;
}

#monitor2{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 266.2px;
    height: 171px;
    top: 88px;
    left: 546px;
}

#monitor1, #monitor2{
    transition:2s
  }
#monitor1:hover, #monitor2:hover{
    box-shadow: 0 0 100px rgb(59, 122, 0);
  }

/* h1{
    position:relative; 
    top: 30%;
    text-align: center;
    color:rgb(224, 244, 210);
    text-shadow: 
    0 0 10px    rgb(27, 118, 19),
    0 0 10px    rgb(27, 118, 19),  
    0 0 10px    rgb(27, 118, 19);
} */

#tf1, #tf2, #tf3, #tf4{
    width: 20%;
}