/* Default styles for small screens */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Left column takes 2/3 of the width, right column takes 1/3 */
    gap: 2em;
    margin-bottom: 2em;
}

.left-column {
    padding: 1rem;
}

.right-column {
    padding: 1rem;
}

@media only screen and (min-width: 22.5em) {
    .container {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 2em 2em 0em 2em;
    }
    .container-full {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 2em 2em 0em 2em;
    }
}
@media only screen and (min-width: 48em) {
    .container {
        grid-template-columns: 2fr 1fr; /* Left column takes 2/3 of the width, right column takes 1/3 */
        margin: 0em 6em 2em 6em;
    }
    .container-full {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 0em 6em 2em 6em;
    }

}

