.block:hover{
    background-color: rgba(0, 0, 0, 0.184);
    transition: .2s ease-in-out;
    transform:scale(1.03);
    outline: solid ;
    z-index: 3;
}



li:nth-of-type(1) {
	
    background-image: url(/assets/gezichtjes/Squad1E-Danique.jpg);
    background-repeat: no-repeat ;
    /* background-size: 100% 100%; */
    background-size:cover;
    /* object-fit: cover; */
    /* object-position: ; */
    background-position: center center;
    background-blend-mode: luminosity;
    background-color: #111111;
    


}
li:nth-of-type(2) {

    background-image: url(/assets/PNG\ image\ 2.png);
    background-repeat: no-repeat ;
    /* background-size: 100% 100%; */
    background-size:cover;
    background-blend-mode: luminosity;
    background-color: #111111;
    
    
    


}
li:nth-of-type(3) {
    background-image: url(/assets/gezichtjes/Misah\ Said.png);
    background-repeat: no-repeat ;
    /* background-size: 100% 100%; */
    background-size:cover ;
    background-position:center;
    background-blend-mode:luminosity;
    background-color:#111111;
}

/* new squad ;) */

li:nth-of-type(4) {
    background-image: url(/assets/gezichtjes/Abeer.png);
    background-repeat: no-repeat ;
    /* background-size: 100% 100%; */
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

}
li:nth-of-type(5) {
    background-image: url(/assets/gezichtjes/Akiko.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode: luminosity;
    background-color: rgba(0, 0, 0, 0.903);

   
}
li:nth-of-type(6) {
    background-image: url(/assets/gezichtjes/Anna-Kyra.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

/* new squad ;) */

li:nth-of-type(7) {
    background-image: url(/assets/gezichtjes/Squad1E-Annelinde.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(8) {
    background-image: url(/assets/gezichtjes/damian.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(9) {
    background-image: url(/assets/gezichtjes/Gita.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

/* new squad ;) */

li:nth-of-type(10) {
    background-image: url(/assets/gezichtjes/Hadil.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(11) {
    background-image: url(/assets/gezichtjes/Squad1E-Ilona.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(12) {
    background-image: url(/assets/gezichtjes/Jason\ Wong.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

/* new squad ;) */

li:nth-of-type(13) {
    background-image: url(/assets/gezichtjes/jesse.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(14) {
    background-image: url(/assets/gezichtjes/Squad1E-Justin.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(15) {
    background-image: url(/assets/gezichtjes/Kaan.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(16) {
    background-image: url(/assets/gezichtjes/Squad1E-Kiko.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(17) {
    background-image: url(/assets/gezichtjes/Lemuel.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(18) {
    background-image: url(/assets/gezichtjes/Squad1E-Lisa.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(19) {
    background-image: url(/assets/gezichtjes/Squad1E-Metehan.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(20) {
    background-image: url(/assets/gezichtjes/Squad1E-Nevayo.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(21) {
    background-image: url(/assets/gezichtjes/Squad1E-Patrick.jpg);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(22) {
    background-image: url(/assets/gezichtjes/Robby\ Risse.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(23) {
    background-image: url(/assets/gezichtjes/Ronaldo.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(24) {
    background-image: url(/assets/gezichtjes/Viktor.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}

li:nth-of-type(25) {
    background-image: url(/assets/gezichtjes/Inez.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-size:cover;
    background-position: center center;
    background-blend-mode:luminosity;
    background-color: rgb(0, 0, 0);

   
}