


li:nth-of-type(1) {
	
    background-size: 100% 100%;
    background-color:rgb(64, 104, 178) ;
    
    >.img{
        opacity: 100%;
        object-position:center;
        
    }
}
li:nth-of-type(2) {
	background-color: #d049;
   
    >.img{
        opacity: 100%;
        object-position: center;
        
    }
}


li:nth-of-type(3) {
	
   
    >.img{
        opacity: 100%;
        
        
        object-position:0px -1cm;
    }
}
/* everyone else */

li:nth-of-type(4) {
	

   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
}
}
li:nth-of-type(5) {
	
    background-color: #d049;
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(6) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(7) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   background-color: rgb(64, 104, 178);
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(8) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(9) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(10) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
    background-color: #d049;
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(11) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(12) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(13) {
	
    background-size: 100% 100%;
    
    size: 100% 100%;
   
    object-position:bottom;
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
}
}
li:nth-of-type(14) {
	
    background-color: rgb(64, 104, 178);
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(15) {
	
    background-color: #d049;
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(16) {
	   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(17) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(18) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
        
    }
}
li:nth-of-type(19) {
	background-color: #d049;
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(20) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
}
}
li:nth-of-type(21) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(22) {
	
    background-color: #d049;
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(23) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(24) {
	
   
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}
li:nth-of-type(25) {
	
    >.img{
        opacity: 100%;
        object-position:0px -3cm;
    }
}