@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgb(208, 73,154);
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: "poppins", sans-serif;
}

.anim-typewriter {
    animation: typewriter 3s steps(13) 1s 1 normal both,
    blinkTextCursor 600ms steps(13) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to {width: 7.2em;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgb(208, 73,154);}
    to{border-right-color: transparent;}
}


@media screen and (min-width:41rem) {
  .line-1 {
    border-right: 2px solid rgb(208, 73,154);
  }
  
    
}


@media screen and (min-width: 62rem) {
    p {
        color: rgb(244, 123, 32);
    }
    .line-1 {
    border-right: 2px solid rgb(244, 123, 32);
  }

}