#inout {
    right: -10%;
    top: 5%;
}

#left {
    left: -10%;
}

#right {
    right: -10%;
}

.zoomed {
    transform: scale(3);
}

h1 {
    white-space: initial;
    font-size: 80px;
    top: 325%;
    left: 4%;
    word-spacing: 330px;
}