*{margin: 0;}
/* ask about this */
:root{
    --clr-cpbl:#4068b2;
    --cpo:#f47b20;
    --cpp:#d049;
    --cpb:rgb(111,110,111);
}
html,body{
    width: 100%;
    height:100vh;
    

}
/* ask about media query */


    

body{
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    justify-content:baseline;
    background-color:rgb(10, 10, 10) ;
}
body::after{
    position: fixed;
    bottom: 0;
    width: 10px;
    height: 10px;
    outline: solid blue;
    z-index: 100;
}

.ontop{
   
    display: flex; 
    flex-direction: column;
    width: 100%;
   
    /* border:solid red; */
    /* outline: solid rgba(147, 0, 0, 0.608); */
    /* margin: ; */
    /* flex-grow: 1; */
    transition: 1s ease;
}
header{
    text-align: center;
    height: 11%;
    font-size: 2em;
    
}
/* this should be replaced with the new quotes */
.quote{
    display: block;
    position: relative;
    background-color: rgb(23, 22, 22);
    text-align: center;
    font-size: 5rem;
    height: 60vh;
    transition: 1s ease;
    /* background-image: element(); */
}

.bottom{
    width: 100%;
    position: relative;
    height:300em;
    margin: 0;
    /* padding: 100px; */
    background-color: #111111;
    
    
}
/* this is the list */
.person{
    margin:3px;
	padding:0;
    gap:3px;
	list-style:none;
    background-color:rgba(64, 104, 178, 0);
    display: grid;
    
    /* grid-template-columns: 1fr 1fr 1fr; */
    
    /* grid-template-columns: repeat(auto-fill,minmax(auto,30vw)); */
    width: 100%;
    
    min-height: auto;
    
    background-repeat: no-repeat ;
    background-size:cover;
    background-position: center center;
    z-index: 2;
}



.block{
    margin:0;
	padding:0;
    position: relative;
    min-height: 15em;
    max-height: 20em;
    min-width: none;
    
    /* outline: solid brown; */
    
}
.insideGrid{
    display: grid;
    grid-template-areas:"a ."
                        ". b";
    
}


h2{
    /* transform: translate(10px,1px); */
    outline: solid rgba(64, 104, 178, 0.445);
    width: fit-content;
    margin: 0;
    background-color: rgba(244,123,32, 0.664);
    /* color: ; */
}
a:link{
    text-decoration: none;
    background-color :rgba(64, 104, 178, 0.907)
}
.link{
    display: block;
    position: relative;
    z-index: 2;
    margin: 0;
    text-align:end;
    top: 195px;
    /* padding-top: 180px;
    padding-left: 280px; */
    background-color: rgba(88, 44, 10, 0.292);

    /* border-bottom: solid black; */
    border-width: 2px;
    

}

/* .img{
    background-position: center;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    

} */

/* footer stuff */
footer{
display: flex;
position: fixed bottom;
background-color: --cpb;

}
.backUp{
    position: absolute ;
    right: 0;
    padding:0 30px;
}

@media (min-width:41rem ) {
    .person{
        
        grid-template-columns: repeat(2,1fr);
        /* grid-template-columns: repeat( auto-fit, minmax(20px, 200px) );      */
        transition: 0.4s ease-in-out;
    }

    header{
        font-size: 1.5em;  
        text-align:start;
    }
    .ontop{
        background-color: #111111;
        /* height: 100vh; */
        flex-grow:0;
        transition: 2s ease-in-out;
    }
    .quote{
            color:yellow;
            transition: 0.4s ease-in-out;
            height: 30rem;
            padding:6rem;
    }
    .bottom{
        height:100px;
        opacity: 70%;
        

    footer{
        display: none;
    }
}
}

@media (min-width: 62rem) {
    .person{
    
        grid-template-columns: repeat(3,1fr);     
        transition: 0.4s ease;
    }
    header{
        position: relative top;
        left:0;
        top:0;
    }
    
    .ontop{
        background-color: #111111;
        flex-grow:0;
        transition: 2s ease;
    }
    .quote{
            color:rgb(0, 255, 106);
            transition: 0.4s ease;
            
    }
    .bottom{
        height:100px;
        opacity: 100%;
        background-color: #000000;
    }
    
}