*{margin: 0;}
/* ask about this */
:root{
    --clr-cpbl:rgb(64, 104, 178);
    --cpo:#f47b20;
    --cpp:#d049;
    --cpb:rgb(111,110,111);
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@700&display=swap');
html,body{
    width: 100%;
    height:350vh;
    font-family: Poppins,sans-serif;

   
  
}
    

body{
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    justify-content:baseline;
    background-color:rgb(10, 10, 10) ;
}
body::after{
    position: fixed;
    bottom: 0;
    width: 10px;
    height: 10px;
    outline: solid blue;
    z-index: 100;
}

.ontop{
   
    display: flex; 
    flex-direction: column;
    width: 100%;
    background-color: #111111;
    /* border:solid red; */
    /* outline: solid rgba(147, 0, 0, 0.608); */
    /* margin: ; */
    /* flex-grow: 1; */
    transition: 1s ease;
}
header{
    text-align: center;
    height: 11%;
    font-size: 2em;
    
}

#logo {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    color: #fff;
    opacity: 17%;
    text-align: center;
    border: 2px solid #fff; 
    padding: 0.5rem; 
    width: fit-content; /* Make the box fit its content */
    border-radius: 30px; 
    margin: 0 auto; /* Center the box horizontally */
}

.quote{
    display: block;
    position: relative;
    background-color: #111111;
    text-align: center;
    font-size: 1.5rem;
    height: 70vh;
    transition: 1s ease;
    color: rgb(208, 73,154);
    /* background-image: element(); */
}

.bottom{
    display: grid;
    width: 100%;
    position: sticky;
    height:100%;
    margin: 0;
    /* padding: 100px; */
    background-color: #111111;
    flex-grow: 1;
    
    
}
/* this is the list */
.person{
    margin:3px;
	padding:0;
    gap:3px;
	list-style:none;
    background-color:rgba(64, 104, 178, 0);
    display: grid;
    
    /* grid-template-columns: 1fr 1fr 1fr; */
    
    /* grid-template-columns: repeat(auto-fill,minmax(auto,30vw)); */
    width: 100%;
    
    min-height: auto;
    
    background-repeat: no-repeat ;
    background-size:cover;
    background-position: center center;
    z-index: 2;
}


.block{
    margin:0;
	padding:8px 10px ;
    position: relative;
   
    border-radius: 10px;
    background-color:#f47b20 ;
}

.img{
    /* height: 100%; */
    width: 100%;
    object-fit:cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
    min-width:3rem;
    scale:1;

}





h2{
  position: relative;
  text-align: center;
  
}
a:link{
    text-decoration: none;
    /* background-color :rgba(244,123,32, 0.664) */
}


/* .img{
    background-position: center;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    

} */

/* footer stuff */
.backUp{
    position: absolute ;
    right:0;
    padding:0 30px;
}

@media (min-width:41rem ) {
    .person{
        
        grid-template-columns: repeat(2,1fr);
        transition: 0.4s ease-in-out;

    }

    header{
        font-size: 1.5em;  
        text-align:start;
    }
    .ontop{
        background-color: #111111;
        flex-grow:0;
        transition: 2s ease-in-out;
    }

    .img{
        /* height: 100%; */
        width: 100%;
        object-fit:cover;
        aspect-ratio: 16/9;
        border-radius: 10px;
        min-width:2rem;
        scale:1;
    }
    .quote{
            color: rgb(62, 104, 178);
            transition: 0.4s ease-in-out;
            height: 30rem;
            padding:6rem;
            font-size: 3rem;
    }
    .bottom{
        height:100%;
        opacity: 100%;
        background-color: #000000;
}
    h2{
        text-align:start;

    }
}

@media (min-width: 62rem) {
    .person{
    
        grid-template-columns: repeat(3,1fr);     
        transition: 0.4s ease;
    }
    header{
        position: relative top;
        left:0;
        top:0;
    }
    
    .ontop{
        
        flex-grow:0;
        transition: 2s ease;
    }
    .quote{
            color:rgb(244, 123, 32);
            transition: 0.4s ease;
            font-size: 5rem;
            
    }
    .bottom{
        height:100%;
        opacity: 100%;
       
    }
    
}