/* Import The CSS Styles */
@import "card.css";
@import "grids.css";
@import "hero.css";
@import "button.css";
@import "navbar.css";
/* Utils / Typo */
@import "utils.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
}

.divider {
    border: 1px solid var(--off-white);
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
}