body {
   
    min-height: 100%;
    height: 100vh;
    background: linear-gradient(155deg, #f5f5f5, #644c4cb2); /* Neutrale grijsgradient */
}

header {
    justify-content: center;
    width: 100%;
    height:auto;

}

h1 {

    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'be vietnam pro';
    color: #8f8078;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.sectie {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-container {

    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 600px; 
    height: 550px;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: blur(3px);
    object-fit: cover; 
}

.img-container:hover {

    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.img2:hover {

    position: relative;
    width: 600px; 
    height: 550px; 

}


.text-overlay {
    position: absolute;
    font-family: 'be vietnam pro';
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 540;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    line-height: 1;
}