@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: whitesmoke
}

header {
  background: #b366ff;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header li a{
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 14px 16px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #5e2596;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

div p {
  display: flex;
  justify-content: center;
  padding-top: 10.5em;
  font-weight: bold;
  font-size:xx-large;
}

.no-font {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;

  border-radius: 0px;
  margin: 30px;
  margin-bottom: 50px;
  transition: 0.5s;

  background-color: #f5f5f5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;

  width: 280px;
  height: 290px;
}

body .container .card:hover {
  transform: translateY(-50px);
}

body .container .card .box .content button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.rechtsonder {
    position: absolute;
    width: 130px;
    margin-left: 230px;
    margin-top: -35px;
    transform: scaleX(-1);
}

.linksonder {
    position: absolute;
    width: 130px;
    margin: -35px;
}

.rechtsboven {
    position: absolute;
    width: 130px;
    margin-left: 230px;
    margin-top: -410px;
}

.linksboven {
    position: absolute;
    width: 130px;
    margin-top: -410px;
    margin-left: -35px;
    transform: scaleX(-1);
}