body {
    background-image: linear-gradient(to bottom left,
            rgb(0, 0, 0),
            rgb(0, 25, 2),
            rgb(0, 70, 0),
            rgb(0, 116, 0),
            rgb(0, 70, 0),
            rgb(0, 25, 2),
            rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: 400% ;
    -webkit-animation: gradient 15s infinite alternate;
}


@keyframes gradient {
	0% {background-position: right;}
	100% {background-position: left;}
}


#svg-bg {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    display: flex;
}

#monitor1 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background-color: rgb(0, 7, 0);
    width: 266.2px;
    height: 171px;
    top: 259px;
    left: 228.4px;
    transition: 1s;
    z-index: 1;
    transform-origin: top left;
}

.fotos {
    cursor: pointer;
    width: 50px;
    height: 60px;
    object-fit: cover;
    transition: 0.3s;
    filter: grayscale(100);
}

.fotos:hover {
    box-shadow:
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19);
        width: 70px;
        filter: none;
}

.container4f {
    width: 180px;
    height: 160px;
    column-gap: 20px;
}

.container6f {
    width: 200px;
    height: 160px;
    column-gap: 5px;
}

#left,
#right,
#inout{
    position: absolute;
    font-size: 30px;
    color: rgb(168, 255, 109);
    transition: 0.3s;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

#left {
    left: 0%;
}

#right {
    right: 0%;
    z-index: 1;
}

#left:hover,
#right:hover,
#left:active,
#right:active,
#left:focus,
#right:focus, 
#inout:hover, 
#inout:active,
#inout:focus {
    text-shadow:
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19),
        0 0 5px rgb(27, 118, 19);
    outline: none;
}

#monitor2 {
    position: relative;
    background-color: rgb(0, 7, 0);
    width: 266.2px;
    height: 171px;
    top: 88px;
    left: 546px;
}

#monitor1,
#monitor2 {
    transition: 1s
}

#monitor1:hover,
#monitor2:hover {
    box-shadow: 0 0 50px rgb(59, 122, 0);
}

.container4f,
.container6f {
    background-color: transparent;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    display: none;
}

.container4f[data-active],
.container6f[data-active] {
    display: flex;
}

#data-slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inout{
    font-size: 25px;
    right: 2%;
    top: 2%;
    cursor: zoom-in;
}

.zoomed{
    transform: scale(4);
}

iframe {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100px;
    width: auto;
    z-index: 1;
}