#svg-bg{
    left: 0px;
    justify-content: center;
    width: 400px;
}

#monitor1{
    width: 82.5px;
    height: 54px;
    top: 79px;
    left: 62px;
}

.fotos{
    width: 15px;
}

.container3f{
    width: 60px;
    height: 54px;
    justify-content: space-evenly;
    column-gap: 2px;
}

.container4f{
    width: 50px;
    height: 45px;
    justify-content: space-around;
    column-gap: 7px;
    row-gap: 2px;
}

.container5f{
    width: 57px;
    height: 45px;
    justify-content: space-around;
    column-gap: 0px;
    row-gap: 2px;
}

.container6f{
    width: 60px;
    height: 50px;
    justify-content: space-evenly;
    column-gap: 2px;
    row-gap: 0px;
}

#left, #right{
    font-size: 10px;
}

#left{
    left:-5%;
}

#right{
    right: -5%;
}

#monitor2{
    width: 82.5px;
    height: 54px;
    top: 25px;
    left: 159.5px;
}











#monitor1big{
    left: 0px;
    right: 0px;
    align-items: center;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: rgb(0, 7, 0);
    width: 375px;
    height: 255px;
    top: 293px;
}

.fotosbig{
    width: 80px;
    transition: 0.2s;
}

.fotosbig:hover{
    box-shadow: 
    0 0 10px    rgb(27, 118, 19),
    0 0 10px    rgb(27, 118, 19),
    0 0 10px    rgb(27, 118, 19);
}

.container3fb{
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    width: 280px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    column-gap: 2px;
    flex-wrap: wrap;
}

.container4fb{
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    width: 250px;
    height: 240px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;


    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.container5fb{
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    width: 280px;
    height: 240px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;


    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 5px;
}

.container6fb{
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    width: 280px;
    height: 240px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;


    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 5px;
}

#leftbig, #rightbig{
    position: absolute;
    font-size: 50px;
    color:rgb(168, 255, 109);
    transition: 0.2s;
    background-color: transparent;
    border-style: none;
}

#leftbig{
    left: 0%;
}

#rightbig{
    right: 0%;
}

#leftbig:hover, #rightbig:hover,
#leftbig:active, #rightbig:active,
#leftbig:focus, #rightbig:focus{
    text-shadow: 
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19),
    0 0 5px    rgb(27, 118, 19);
}

#leftbig:focus, #rightbig:focus{
    outline: none;
}

#monitor1big{
    transition:1s
  }
#monitor1big:hover{
    box-shadow: 
    0 0 20px rgb(32, 173, 0),
    0 0 20px rgb(32, 173, 0),
    0 0 20px rgb(32, 173, 0);
  }



  #leftbig, #rightbig, .fotosbig{
    opacity: 1;
}