/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  line-height: 1.6;
}

/* Small screen */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-family: "Be Vietnam Pro", system-ui;
    margin: -0.3em -0.1em 0em;
    white-space: nowrap;
    font-size: 14vw;
    font-weight: 500;
    background: linear-gradient(
      90deg,
      rgba(241, 115, 12, 1) 0%,
      rgba(198, 212, 4, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s ease-in-out infinite;
  }

  /* Team Grid */
  .team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 10px 10px 10px;
  }

  .team-member {
    max-width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .team-member img {
    height: 200px;
    width: 300px;
    border-radius: 5%;
    transition: transform 0.3s ease;
  }

  .team-member:hover img {
    transform: scale(1.05);
  }

  .team-member h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: #333;
  }

  .team-member p {
    font-size: 1.5rem;
    color: #777;
  }

  .team-member p.role {
    font-weight: bold;
    color: #444;
  }

  .team-member p.bio {
    font-size: 1rem;
    color: #555;
  }

  /* Squad Grid */
  .squad-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 10px 50px 10px;
  }

  .squad-member {
    max-width: 350px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .squad-member:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .squad-member img {
    height: 200px;
    width: 300px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  .squad-member:hover img {
    transform: scale(1.1);
  }

  .squad-member h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: #fff;
  }

  .squad-member p {
    font-size: 1.5rem;
    color: #eee;
  }

  .squad-member p.role {
    font-weight: bold;
    color: #fff;
  }

  .squad-member p.bio {
    font-size: 1rem;
    color: #fff;
  }
}

/* Large screen */
@media (min-width: 600px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-family: "Be Vietnam Pro", system-ui;
    margin: -50px 0px 0px 0em;
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 500;

    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(241, 115, 12, 1) 0%,
      rgba(198, 212, 4, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s ease-in-out infinite;
  }

  /* Team Grid */
  .team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
  }

  .team-member {
    position: relative;
    text-align: center;
    max-width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .team-member:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .team-member img {
    width: 100%;
    border-radius: 5%;
    transition: transform 0.3s ease;
  }

  .team-member:hover img {
    transform: scale(1.05);
  }

  .team-member h2 {
    font-size: 2rem;
    margin: 15px 0 10px;
    color: #333;
  }

  .team-member p {
    font-size: 1.5rem;
    color: #777;
  }

  .team-member p.role {
    font-weight: bold;
    color: #444;
  }

  .team-member p.bio {
    font-size: 1rem;
    color: #555;
  }

  /* Squad Grid */
  .squad-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 15% 50px;
}
  .squad-member {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .squad-member:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .squad-member img {
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  .squad-member:hover img {
    transform: scale(1.1);
  }

  .squad-member h2 {
    font-size: 2rem;
    margin: 15px 0 10px;
    color: #fff;
  }

  .squad-member p {
    font-size: 1.5rem;
    color: #eee;
  }

  .squad-member p.role {
    font-weight: bold;
    color: #fff;
  }

  .squad-member p.bio {
    font-size: 1rem;
    color: #fff;
  }
}
