* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(189, 188, 188, 0.795);
  line-height: 1.6;
}

/* Small screen */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-family: "Be Vietnam Pro", system-ui;
    margin: -0.3em -0.1em 0em;
    white-space: nowrap;
    font-size: 14vw;
    font-weight: 500;
    background: linear-gradient(
      90deg,
      #680000 0%,
      #000000 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s ease-in-out infinite;
  }

  /* Team Grid */
  .team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 10px 10px 10px;
  }

  .card-member {
    max-width: 360px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
      background-position 0.4s ease;
    background-image: linear-gradient(white 50%, #c7c7d1 50%);
    background-size: 100% 200%;
    background-position: top;
  }

  .card-member:hover,
  .card-member:focus {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-position: bottom;
  }

  .card-member img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    transition: transform 0.3s ease;
  }

  .card-member:hover img {
    transform: scale(1.05);
  }

  .card-member h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: #333;
  }

  .github-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #680000; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
  }
  .github-btn:hover {
    color: white;
    background-color: #a55050; 
  }
  /* Squad Grid */
  .squad-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 10px 50px 10px;
  }
}

/* Large screen */
@media (min-width: 600px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-family: "Be Vietnam Pro", system-ui;
    margin: -50px 0px 0px 0px;
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
    animation: textGradient 3s ease-in-out infinite;
  }

  /* Team Grid */
  .team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 200px;
  }

  .card-member {
    position: relative;
    text-align: center;
    max-width: 360px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
      background-position 0.4s ease;
    background-image: linear-gradient(white 50%, #c7c7d1 50%);
    background-size: 100% 200%;
    background-position: top;
  }

  .card-member:hover,
  .card-member:focus {
    transform: translateY(-30px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-position: bottom;
  }

  .card-member img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    transition: transform 0.3s ease;
  }

  .card-member:hover img {
    transform: scale(1.05);
  }

  .card-member h2 {
    font-size: 2rem;
    margin: 15px 0 10px;
    color: #454545;
  }

  .github-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #680000; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
  }
  .github-btn:hover {
    color: white;
    background-color: #a55050; 
  }

/* Squad Grid - Flexbox */
.squad-grid {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards */
  gap: 40px; 
  margin: 0 auto 50px;
}
}
