:root {
    --primary-color: #111111;
    --secondary-color: #222222;
    --off-white: #f6f6f6;

    --small-breakpoint: 22.5em;
    --big-breakpoint: 48em;
}

.bg-primary {
    background-color: var(--primary-color);
}

.flex {
    display: flex;
}

.section-title {
    color: var(--off-white);
    text-transform: uppercase;
}
@media only screen and (min-width: 22.5em) {
    .section-title {
        margin: 0rem 0rem 2rem 2rem;
    }
}

@media only screen and (min-width: 48em) {
    .section-title {
        margin: 0rem 0rem 2rem 8rem;
    }
}


