:root {
    --primary-color: #111111;
    --secondary-color: #222222;
    --off-white: #f6f6f6;
}

.bg-primary {
    background-color: var(--primary-color);
}

.spacer {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mt-12 {
    margin-top: 3rem;
}

.flex {
    display: flex;
}
